@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* start of preloader styles */
#preloader
{
  background: #000 url(./images/preloader.gif) no-repeat center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* end of preloader styles */
/* start of global styles */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
/* end of global styles */
/* start of the header styles */
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  position: relative;
  max-width: 80px;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li
{
  list-style: none;
}
header ul li a 
{
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  /* text-decoration: none; */
}
/* end of the header styles */
/* start of the content section styling */
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox
{
  position: relative;
  max-width: 600px;
}
.content .textBox h2
{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span
{
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p
{
  color: #333;
}
.content .textBox a
{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox
{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
/* end of the content section container styling */



/* start of vibration on hover styles */
.content .textBox a:hover
{
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake 
{
  10%, 90%
  {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80%
  {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70%
  {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60%
  {
    transform: translate3d(2px, 0, 0);
  }
}
/* end of vibration on hover styles */